<div class="container">
    <center>
        <h4><i class="fa fa-code text-primary"></i> Easy Rails</h4>
        <font class="text-muted">Create rails app easily..</font><br>
        </center>
    <div class="col-md-6" style="padding: 10px;">
    <div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-sign-in text-primary"></i> Login</h4>
        <h3><%= @lg_err_log -%></h3>
        <%= form_tag("/user/login",method: :post) do -%>
        <input type="text" class="form-control" placeholder="Email address.." name="user[email]" required><br>
        <input type="password" class="form-control" placeholder="Password.." name="user[password]" required><br>
        <button class="btn btn-primary" type="submit" name="submit">Log in</button>
        <% end -%>
    </div>
    </div>
    </div>
    <div class="col-md-6" style="padding: 10px;">
       <div class="panel panel-default">
    <div class="panel-body">
        <h4><i class="fa fa-thumbs-up text-primary"></i> Sign Up</h4>
        <h3><%= @si_err_log -%></h3>
        <%= form_tag("/user/sign_up",method: :post) do -%>
        <input type="text" class="form-control" placeholder="Email address.." name="user[email]" required><br>
        <input type="text" class="form-control" placeholder="Name.." name="user[name]" required><br>
        <input type="password" class="form-control" placeholder="Password.." name="user[password]" required><br>
        <input type="password" class="form-control" placeholder="Confirm Password.." name="user[password_confirmation]" required><br>
        <button class="btn btn-primary" type="submit" name="submit">Sign Up</button>
        <% end -%>
    </div>
    </div>
    </div>
</div>
